<div class="comics_by_category_page">
  <ul class = "comics-category" >
    <h1>Комикстар</h1>
    <li *ngFor="let comicsCategory of comicsCategoryList">
      <a routerLink="/comics/{{comicsCategory.id}}/all">
        <br> {{comicsCategory.name}}
      </a>
    </li>
  </ul>
<!--<app-comics-categories></app-comics-categories>-->
  <div class = "all_comics" >
    <div *ngFor="let comic of comicsProducts">
<!--      <a routerLink="/comics/{{comic.comic_category_name}}/all/{{comic.id}}">-->
      <a routerLink="/comics/{{comic.category_id}}/all/{{comic.id}}">
        <img class="comics-image" src="{{comic.poster}}"/>

      </a>
    </div>
  </div>
</div>
