.comics_by_category_page{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.comics-category{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  position: relative;
  box-sizing: border-box;
  width: 250px;
  padding: 15px 20px;
  margin: 30px;
  list-style:none
}
.comics-category a{
  font-family: kitap-font-regular;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.comics-category a:hover{
  color:#fe793c ;
}

.comics-category-inside{
  margin: 10px;
}

.all_comics{
  display: flex;
  flex-direction: row;
}
.all_comics .comics-image{
  width: 336px;
  height: 500px;
  margin: 0 20px;
}
h1{
  width: fit-content;
  font-size: 24px;
  color: black;
  font-weight: bold;
  border: 2px solid #fe793c;
}
