<div class="main">
  <div class="books-category">
    <div class="books-category-inside" *ngFor = "let bookCat of booksCategories">
      <a routerLink="/books/{{ bookCat.id }}/all">
        {{bookCat.name}}
      </a>
    </div>
  </div>

  <div class="books" >
      <div class="border" *ngFor="let book of booksProducts">
        <a routerLink="/books/{{book.category_id}}/all/{{book.id}}">
          <img src="{{book.image}}"/>
          <p class="bookName">{{book.name}}</p>
          <p class="bookAuthor">{{book.author}}</p>
        </a>
      </div>
  </div>
</div>
