*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.book_detail_page{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book_detail_content {
  flex:1 0 21%;
  margin-left: 100px;
  border: 5px solid black;
}

