<div class="main">
  <div class="books-category">
    <div class="books-category-inside" *ngFor = "let bookCat of bookCategories">
      <a routerLink="/books/{{ bookCat.id }}/books">

        {{bookCat.name}}
      </a>
    </div>
  </div>


  <div class="allBooks" >
    <div class="border" *ngFor = "let books of allBooks">
      <img *ngIf="books.imagesLinks" [src]="books.imagesLinks" [alt]="books.name">
      <p class="bookName">{{books.name}}</p>
      <p class="bookAuthor">{{books.author}}</p>
    </div>
  </div>

</div>
