<!DOCTYPE html>
<link href="login.component.css" type="text/css" rel="stylesheet">
  <body>
  <div class="login_page">
    <div class="left_side">
        <h1>Кіру</h1>
      <form class="login_form">
        <label for="email">E-mail</label>
        <input id="email" type="text" [(ngModel)]="username" placeholder="example@example.com" [ngModelOptions]="{standalone: true}" >
        <label for="password" >Құпиясөз</label>
        <input id="password" type="password" [(ngModel)]="password" placeholder="6 символдан көп теріңіз" [ngModelOptions]="{standalone: true}">
      </form>

      <div class="after_login">
        <input id="save" type="checkbox" value="Есте сақтау"><label for="save">Есте сақтау</label>
        <a href="">Құпия сөзді ұмыттыңыз ба?</a>
      </div>

      <a class="login" href="#"><button (click)="login()">Кіру</button></a>
      <p>Әлеуметтік желілер арқылы кіру</p>
      <div class="login_with">
        <a href="#"><button class="google" >G</button></a>
        <a href="#"><button class="facebook">f</button></a>
      </div>
      <div class="register">
        <p>Аккаунтыңыз жоқ па?<a href="">Тіркелу</a></p>
      </div>
    </div>
  <div class="right_side">
    <img src="https://kitap.kz/images/background/auth-bg-11-03.png">
  </div>
  </div>
  </body>
