.main {
  position: relative;
}

.books-category{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 250px;
  padding: 15px 20px;
  margin: 30px;
}

.books-category a{
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.books-category a:hover{
  color:#fe793c ;
}

.books-category-inside{
  margin: 10px;
}

.books {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 30px;
}

.border {
  margin: 10px 0px;
  padding: 10px 20px;
  border: 1px solid #cfcdd2;
  border-radius: 5px;
  width: 21%;
  height: 25%;
  text-align: left;
}

img {
  height: 300px;
  width: 200px;
}

.bookName {
  font-family: Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.bookAuthor {
  font-family: Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #9b9b9b;
  text-decoration: none;
}
