<div class="comic_category_page">
  <div class = "comics-category" >
    <h1>Комикстар</h1>
    <div *ngFor="let comicsCategory of comicsCategoryList">
      <a routerLink="/comic/{{comicsCategory.name}}/all">
        <br> {{comicsCategory.name}}
      </a>
    </div>
  </div>

  <div class="all_comics">
    <div class="each_comics" *ngFor="let comics of comicsList">
      <a routerLink="/comic/{{comics.comic_category_name}}/all/{{comics.id}}">
        <img class="comics-image" src="{{comics.poster}}"/>
      </a>
        <input  [(ngModel)]="comics.rating" />
    </div>
  </div>
</div>
